/*Importar una fuente de Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap');

* {
    margin: 0;
    /*padding: 0;*/
    /*box-sizing: border-box;*/
    color: var(#EFEAC2);
    /*Declarar una variable de color*/
    color: var(#F05260);
    color: var(#6895D8);
    color: var(#D5E2F5);
    color: var(#76A32E);
    font-family: 'DM Sans', sans-serif;
    /*Fuente importada*/
}

header {
    display: flexbox;
    box-shadow: 0 0 4rem -1rem rgba(240, 82, 96, .25);
    font-size: 1.5rem;
    text-align: end;
    justify-content: space-between;

}

/*nav {
    max-width: 1000px; 
    margin: 0 auto;
}*/

/*#logo {
    display: flex;
    width: 80%;
    height: 80%;
    max-width: 100%;
}*/

h1 {
    margin-right: 3%;
    font-size: 250%;
}

body {
    background-color: rgba(239, 234, 194, 0.5);
}

main {
    max-width: 1100px;
    margin: 0 auto;
    /*para que se centre horizontalmente. Establece el margen superior e inferior en 0 y el margen izquierdo y derecho en automático*/
}

h2 {
    font-size: 200%;
    margin-top: 2%;
}

.contador {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    /*justify-content: space-evenly; /*espacios iguales entre ellos y al inicio y final del contenedor*/
    justify-content: center;
    padding-right: 2%;
    margin-right: 2%;
}

label {
    margin-right: 2%;

}

section {
    margin-bottom: 2%;
}

#root {
    display: flex;
    
}

ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pelicula {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    background-color: rgba(213, 226, 245, .5);
    width: 200px;
    height: 280px;
    max-width: 200px;
    max-height: 320px;
    margin: 2%;
    box-shadow: 0 0 3rem -1rem rgba(240, 82, 96, .25);
    /*Sombra*/
    border-radius: 2%;
    /*Borde redondeado*/
    overflow: hidden;
    /*Para que no se vea lo que sobresale del contenedor*/
    justify-content: center;
    ;

}

.pelicula img {
    max-width: 80%;
    /* max-height: 90%; */
}

.titulo_pelicula {
    font-size: medium;
    max-width: 90%;
}

footer {
    text-align: center;
    padding: 1%;
    box-shadow: 0 0 4rem -1rem rgba(240, 82, 96, .25);
}

#derechos {
    font-size: small;
}

/* @media (max-width: 667px) {
    #root{ */
/*flex: 1 46%;*/
/* background-color: #F05260; */
/* } */
/* } */